# Build results
bin/
obj/
Debug/
Release/

# NuGet
*.nupkg
*.snupkg
# Các file cache và restore sinh tự động
project.lock.json
project.assets.json
project.nuget.cache
*.nuget.g.props
*.nuget.g.targets
*.nuget.dgspec.json

# VS Code
.vscode/

# Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Test results
TestResult*/
*.trx
*.coverage
*.coveragexml

# Others
*.DS_Store
Thumbs.db